.action-panel {

	background: #ededed;
	padding: $padding-lg 0;

	margin-bottom: $padding-lg;

    h2 {
        font-weight: 700;    
        font-size: 1.4rem;
        margin-bottom: $padding-sm;
    }

    p {
        margin: 0;
    }

}