.nav-row {
    border-bottom: 1px solid #eee;

    a {
        color: $light-gray;
        display: inline-block;
        padding: 18px 0px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin-right: $padding-xs;

        &:hover {
            border-bottom: 2px solid #eee;
            text-decoration: none;
        }
    }
}

.page-content {
    padding: $padding-sm 0px;
}

.compontent-nav {
    border: 1px solid #eee;
    border-bottom: none;
    width: 240px;
    float: left;
    margin-right: $padding-md;

    li {
        border-bottom: 1px solid #eee;
    }

    a {
        padding: $padding-xs;
        display: block;
        &:hover {
            text-decoration: none;
            background: #eee;
            color: $gray;
        }
    }
}

.components {
    margin-left: 270px;
}

.component {

    overflow: auto;

    h3 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: $padding-sm;
    }

    h4 {
        font-weight: normal;
        font-size: 1rem;
        margin-bottom: $padding-sm;
        color: $rank-teal;
    }

    &+.component {
        margin-top: $padding-lg;
    }

}

