
$primary-font-family: 'Lato', Arial, sans-serif;
$brand-font-family: 'Dosis', sans-serif;

$rank-gray: #374045;
$rank-teal: #5dd7dc;
$rank-dark-teal: #3cb1b5;

$gray: #4c4c4c;
$light-gray: #c9c9c9;

$padding-xs: 10px;
$padding-sm: 20px;
$padding-md: 30px;
$padding-lg: 40px;